// color code section

$commonColor:black;
$white:white;
$bannerBg:#EFEFEF;
$yellow:#FFEB48;
$black-gray:#7F7F7F;
$menu-bar:red;
$light-gray:rgb(237, 230, 230);

// font code section
$open-sans:'Open Sans', sans-serif;
$raleway:'Raleway', sans-serif;
