@import 'variable';
@import 'mixin';
@import 'responsive';

// common section css
h1,
h2,
h3,
h4,
h5,
h6,
span,
small,
ul,
ol p {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

* {
    scroll-behavior: smooth;
}

// header section css
#header {
    padding: 20px 0px;
    background: $commonColor;
    border: 2px solid white;

    .top-left-header {
        a {
            font-size: 20px;
            color: $white;
        }
    }

    .top-right-header {
        .menu ul {
            li {
                margin: 0px 15px;

                a {
                    color: $white;
                    font-size: 15px;
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 110%;
                        left: 0;
                        width: 30%;
                        height: 3px;
                        background: $menu-bar;
                        transition: 0.3s linear;
                    }

                    &:hover::after {
                        width: 100%;
                    }


                }

                .active::after {
                    width: 100%;
                }
            }
        }
    }
}

#floating-header {
    position: fixed;
    top: 10px;
    right: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 999;

    .hand-bar button {
        color: $white;
        bottom: 60px;
        top: 5%;
        background: $commonColor;
        color: white;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: none;
    }
    #bar-icon2{
        opacity:0;
        visibility: hidden;
    }

    .menu ul {
        opacity: 0;
        visibility: hidden;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding: 20px;
        background: $commonColor;
        li{
            margin: 20px 0px;
            a {
            color: $white;
            font-size: 15px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 110%;
                left: 0;
                width: 30%;
                height: 3px;
                background: $menu-bar;
                transition: 0.3s linear;
            }

            &:hover::after {
                width: 100%;
            }


        }

        .active::after {
            width: 100%;
        }
    }
}
}
.animate {
    height: 100vh;
    width: 300px;
}

.op-vi {
    opacity: 1 !important;
    visibility: visible !important;
}
.di-n{
    display: none;
}

// banner section css
#banner {
    background-color: $bannerBg ;
    height: 545px;

    .container,
    .row {
        height: 100%;
        align-items: center;
    }

    .banner-content {
        border-left: 6px solid $menu-bar;
        width: 50%;
        padding-left: 20px;
    }

    h5 {
        font-size: 70px;
        font-weight: 600;
        font-family: $open-sans;
    }

    p {
        font-size: 18px;
    }


}

// about section css
#about {
    padding: 50px 0px;

    .about-img {
        background: $black-gray;
    }

    .row {
        align-items: center;
    }

    .about-content {
        padding: 40px;
        padding-bottom: 0px;

        h3 {
            font-size: 40px;
            font-weight: 600;
            font-family: $open-sans;
            margin-bottom: 7px;
        }

        p {
            width: 90%;
            font-size: 15px;
            font-weight: 500;
        }
    }

    .display-none {
        display: none;
    }

    .active {
        border-bottom: 3px solid $menu-bar;
    }

    .about-slider {
        padding: 40px;
        padding-top: 0px;

        .about-menu-slider {
            margin-bottom: 10px;
            padding: 5px 0px;

            ul li {
                margin: 0px 10px;
                position: relative;
                color: $commonColor;
                font-weight: 600;
                font-size: 17px;
                cursor: pointer;
                font-family: $raleway;
            }
        }
    }

    .about-content-slider {
        div {
            transition: 0.3s linear;

            .single-tab-content {
                ul li {
                    padding: 10px 0px;
                    font-family: $raleway;
                    font-weight: 300;
                    font-size: 16px;

                    h5 {
                        margin: 0;
                        padding: 0;
                        font-size: 19px;
                    }

                    span {
                        font-weight: 300;
                        font-size: 19px;
                    }
                }
            }
        }
    }
}

// project section scss
#project {
    margin-bottom: 40px;

    .title-header {
        @include header();
    }

    .project-slider {
        position: relative;
        @include arrow();
    }

    .project {
        display: flex;
        align-items: center;
        padding: 0px 38px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        border-radius: 10px;
        background: $light-gray;
        @include card();

        .item-content {
            width: 55%;
            margin-left: 50px;

            h3 {
                font-size: 45px;
                font-family: $raleway;
                font-weight: 600;
                color: $commonColor;
            }

            p {
                line-height: 25px;
                color: $commonColor;
                font-size: 17px;
                margin-top: 20px;
            }

            h5 {
                font-size: 25px;
                font-family: $raleway;
                font-weight: 500;
                color: $menu-bar;
                margin-bottom: 20px;
            }

            ul {
                margin-left: 38px;
                list-style-type: circle;

                li {
                    color: $commonColor;
                    font-size: 17px;
                    font-weight: 400;
                    font-family: $open-sans;
                }
            }
        }
    }
}

// contact section scss
#contact {
    .contact-part {
        .title-header {
            @include header(left);
        }

        .form-part form {
            @include form();
        }
    }

    .contact-thumb img {
        width: 99%;
    }
}

// footer section scss
#footer {
    background: $black-gray;
    padding: 10px 0px;
    .social-media-part ul {
        justify-content: center;

        li {
            padding: 10px 0px;

            a {
                display: inline-block;
                width: 50px;
                height: 50px;
                text-align: center;
                border: 2px solid $white;
                border-radius: 50%;
                color: $white;
                line-height: 50px;
                margin: 0px 10px;
                font-size: 19px;
                transition: 0.2s linear;

                &:hover {
                    background: $menu-bar;
                    border-color: $menu-bar;
                }
            }
        }
    }

    .copright-content {
        p {
            color: $white;
            padding: 0;
            padding: 15px 0px;
        }
    }

}

// gotoTop section scss
#gotoTop {
    @include gotoTop();
}

.show {
    opacity: 1 !important;
    visibility: visible !important;
}